<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>navbarstyle}}
    {{>formstyling}}
</head>
<body>
    {{>navbar}}
    <h1>Welcome to Add Product Page</h1>

    <div class="container">
        <form action="/admin/products/add" method="POST">
        <div class="cover">
            <label for="name">Enter you name : </label>
            <input id="name" name="name" type="text" placeholder="Enter your name">
        </div>
        <div class="cover">
            <label for="price">Enter the price : </label>
            <input id="price" name="price" type="text" placeholder="Enter the price">
        </div>
        <div class="cover">
            <label for="description">Enter the description : </label>
            <input id="description" name="description" type="text" placeholder="Enter the description">
        </div>
        <div class="cover">
            <label for="seller">Enter the seller : </label>
            <input id="seller" name="seller" type="text" placeholder="Enter the seller name">
        </div>
        <div class="cover">
            <label for="imageUrl">Enter the image url : </label>
            <input id="imageUrl" name="imageUrl" type="text" placeholder="Enter the image Url">
        </div>
        <div class="cover">
            <label for="category">Enter the category : </label>
            <input id="category" name="category" type="text" placeholder="Enter the category">
        </div>

        <button type="submit" class="addingbutton">Add</button>
        </form>
    </div>
</body>
</html>