<nav class="navbar">
        <a class="anchortags" href="/">Home</a>
        <a class="anchortags" href="/admin">Admin</a>
        <a class="anchortags" href="/shop">Shop</a>
        <a class="anchortags" href="/shop/cart">Cart</a>
        <a class="anchortags" href="/shop/order/history">Orders</a>
    </nav>